.chat-body-container {
    margin: 1%;
    background-color: rgba(239,242,249,255);
    width: 30%;
    height: 95%;
    position: absolute;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.message-container {
    margin-top: 20%;
    margin-left: 1%;
    width: 80%;
    background-color: rgba(23,185,170,255);
    border-radius: 25px;
    padding: 10px;
}
.message-container p {
    color: rgba(255, 255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    font-family: Georgia, serif;
}
